build/
dist/
classes/
keyData/
__pycache__/
clean.bat
sample.txt
.vscode/launch.json
template.txt
ttt
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
__pycache__/model.cpython-37.pyc
__pycache__/randomUmlMake.cpython-37.pyc
